spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/quizgame_local
    username: quiz_local
    password: 5312
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false

  data:
    redis:
      host: localhost
      port: 6379
      repositories:
        enabled: false

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: quizgame-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace