spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/quizgame_local
    username: quiz_local
    password: 5312
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false

  data:
    redis:
      host: 127.0.0.1
      port: 6379
      repositories:
        enabled: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace