spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/quizgame_local
    username: quiz_local
    password: 5312
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true